input {
  width: 100px;
  border: 2px solid #5E6C77;
  font-size: 15px;
  padding: .25em .5em .3125em;
  color: #5E6C77;
  border-radius: .25em;
  background: transparent;
  -webkit-transition: all .100s;
  transition: all .100s;
}
input:focus {
  outline: none;
  color: #A2ACB3;
  border-color: #A2ACB3;
}
input.keyup {
  color: white;
  border-color: white;
  text-shadow: 0 0 .125em white;
  box-shadow: 0 0 .25em white,inset 0 0 .25em white;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  //background: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  width: 89px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

::-webkit-input-placeholder {
  color: #5E6C77;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: #5E6C77;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: #5E6C77;
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}