
/* Font Family
================================================== */

@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");


/* Desktop
================================================== */

#mainwrap {
	height : 218px;
	overflow-y : scroll;
	overflow-x : hidden;
	border : 1px solid rgba(80, 172, 235, 0.6);
}

.container {
	position:relative;
	z-index:501;
	width:315px;
	font:20px;
	/*font:20px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; */
	color:rgba(171, 221, 255, 0.8);
	text-shadow : 0px 0px 5px #50aceb;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%;
	font-weight:300;
	display : none;
    top : 515px;
	left : 350px;
}

.column { width:inherit; }


/* CSS Reset
================================================== */

.container > div,span,h1,h6,p,a,ul,li,audio {
border:0;
font:inherit;
font-size:97%;
margin:0;
padding:0;
vertical-align:baseline;
}
ul { list-style:none;}


/* Basic Styles
================================================== */

* {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
}

/* Misc.
================================================== */

.add-bottom { margin-bottom:20px !important; }
.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* Highlight Styles */
::selection { background-color:#262223; color:#444; }


/* Default / Desktop / Firefox */
audio { margin-left:9px; width:381px; opacity : 0.2;  }
#audiowrap { background-color:rgba(80, 172, 235, 0.2);  margin:0 auto; }
#plwrap { margin:0 auto;}
#tracks { position:relative; text-align:center; }
#nowPlay { display:inline; }
#npTitle { margin:0; padding:3px; text-align:right; }
#npAction { padding:3px; }
#plList { margin:0;}
#plList li { background-color:rgba(80, 172, 235, 0.2);  cursor:pointer; display:block; margin:0; padding:3px 0;}
#plList li:hover { background-color:rgba(80, 172, 235, 0.4); }
.plItem { position:relative; }
.plTitle { left:50px; overflow:hidden; position:absolute; right:65px; text-overflow:ellipsis; top:0; white-space:nowrap; }
.plNum { padding-left:10px; width:25px; }
.plLength { padding-left:21px; position:absolute; right:21px; top:0; }
.plSel,.plSel:hover { background-color:rgba(80, 172, 235, 0.4)!important; cursor:default!important;}
a[id^="btn"] { background-color:#50aceb;  color:#5a5a5a;  cursor:pointer; display:inline-block; font-size:50px; margin:0; padding:3px 4px; text-decoration:none; }
a[id^="btn"]:last-child { margin-left:-4px; }
a[id^="btn"]:hover,a[id^="btn"]:active { background-color:rgba(80, 172, 235, 0.4); }
a[id^="btn"]::-moz-focus-inner { border:0; padding:0; }